/* @version: 1.0.0,
@Author: Leah Obot,
@Licence: MIT */


:root{
  --primary-color:#ffffff;
  --secondary-color:#3F4144;
  --accent-color: #7DD9EE;
  --accent-hover-color: #18B1D1;
  --section-color: rgba(220, 224, 225, 0.2);
  --light-gray-color: #DCE0E1;
  --dark-gray-color: #6C757D;
  --width: 80%;
}

.active{
  color:var(--accent-color);
}

.hero-page::before{
  content:"";
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
}

.photo{
  border-radius: 1px;
  outline: 0.2rem solid var(--light-gray-color);
  outline-offset: 0.5rem;
  transition: all 0.8s ease;
}

.photo:hover{
  outline-offset: 1rem;
  transform: scale(1.02);
  outline: 0.3rem solid var(--accent-color);
}

.photo img:hover{
  filter: grayscale(0) sepia(0);
  -webkit-filter: grayscale(0) sepia(0);
  -moz-filter: grayscale(0) sepia(0);
}

.progress {
  -webkit-appearance: none;
  background-color: var(--accent-color);
  border-radius: 5px;
  height: 0.8rem;
  width: 100%;
}
.progress::-webkit-progress-bar {
 -webkit-appearance: none;
  background-color: var(--light-gray-color);
  border-radius: 5px;
  height: 0.8rem;
   width: 100%;
}
.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: var(--accent-color);
  border-radius: 8px;
  height: 0.8rem;
}
  .progress::-moz-progress-bar {
  -webkit-appearance: none;
  background-color: var(--accent-color);
  height: 0.8rem;
  border-radius: 8px;
  width: 100%;
}