/* @version: 1.0.0,
@Author: Leah Obot,
@Licence: MIT */


:root{
  --primary-color:#ffffff;
  --secondary-color:#3F4144;
  --accent-color: #7DD9EE;
  --accent-hover-color: #18B1D1;
  --section-color: rgba(220, 224, 225, 0.2);
  --light-gray-color: #DCE0E1;
  --dark-gray-color: #6C757D;
  --width: 80%;
}

.active{
  color:var(--accent-color);
}
.remove-pointer{
  pointer-events: none;
}
.light-header {
  background-color: #f0f0f04b;
  border-bottom: 1px solid #e3e3e3;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.skills-box {
  overflow: hidden;
  background-color: #7dd9ee19;
  backdrop-filter: blur(20px);
}
.blur-filter {
  backdrop-filter: blur(5px);
}
.hero-page{
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.photo{
  border-radius: 50%;
  outline: 2rem solid #EAEAEB;
  transition: all 0.8s ease;
}

.photo:hover{
  outline-offset: 0.5rem;
  transform: scale(1.02);
  outline: 2rem solid var(--accent-color);
}
.custom-loader {
  animation: s4 4s infinite;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  border:1.5rem solid;
  border-radius: 50%;
  border-color:#7DD9EE #7DD9EE #ffffff #ffffff;
  mix-blend-mode: darken;
  animation: s4 1.4s infinite linear;
}
.custom-loader::after {
  border-color:#7DD9EE #7DD9EE ffff ffff;
  animation-direction: reverse;
}

@keyframes s4{ 
  100%{transform: rotate(1turn)}
}